<ion-view view-title="旧机评估报告">
    <ion-content has-header="false" style="top:0;background-color:#f0f0f6;">
        <div class="item item-thumbnail-left" href="#">
            <img src="./img/iphone5s.jpg">
            <h2>已折价</h2>
            <h2>iphone5s</h2>
            <h2>RMB：{{'3280'}} <input type="button" class="button button-small button-clear " value="查看详情"/></h2>
            <p>已寄送 未验机</p>
        </div>

        <div class="item item-thumbnail-left" href="#">
            <img src="./img/iphone5s.jpg">
            <h2>未折价</h2>
            <h2>iphone5s</h2>
            <h2>RMB：{{'3280'}} <input type="button" class="button button-small button-clear " value="查看详情"/></h2>
            <p>未寄送 未验机</p>
        </div>
    </ion-content>
</ion-view>
