<ion-view view-title="快递旧机">
    <ion-content has-header="false" style="top:0;background-color:#f0f0f6;">
        <h3>待寄送订单</h3>
        <h4>编号：1121232131<span style="float:right">2015年2月2日 12：32</span></h4>
        <p>iPhone5s 置换 iPhone5s</p>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="请填写快递公司名称">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="请填写快递单号">
            </label>
        </div>
    </ion-content>
</ion-view>
