<ion-view view-title="快递旧机">
    <ion-content has-header="false" style="top:0;background-color:#f0f0f6;">
        <div class="card">
            <p>我们的地址：北京市朝阳区的的啊可怜的授课老师</p>
            <p>邮政编码：111003</p>
            <p>收件人：阿斯达</p>
        </div>
        <h4>待寄送订单</h4>
        <p>编号：1121232131<span style="float:right">2015年2月2日 12:2</span></p>
        <p>iPhone5s 置换 iPhone5s</p>
        <h4>如果您的旧机已经寄送，请填写快递单号</h4>
        <div class="text-center padding">
            <a class="button button-assertive jld-btn-next" href="#/me-express-order/123">填写快递单号</a>
        </div>
    </ion-content>
</ion-view>
